In [2]:
import pandas as pd
import numpy as np
import requests

In [16]:
# API Key
key = 'TTOtspGkFn4ybINuybwlbwCrOByBsi82IbHIGLUE9HLHqYJXEK8YYHZ5jzkIVSFQ' # API 키

code = '637539'
begindate = '20130101'
enddate = '20240831'

url = f'https://www.gims.go.kr/api/data/observationStationService/getGroundwaterMonitoringNetwork?KEY={key}&gennum={code}&begindate={begindate}&enddate={enddate}&type=JSON'

response = requests.get(url)

data = response.json()
df = pd.DataFrame(data['response'])
df = pd.json_normalize(df['resultData'])

In [17]:
df

      gennum     elev  wtemp      lev   ec       ymd
0     637539   594.89   10.9  -111.61  267  20160101
1     637539   594.48   10.9   -111.2  267  20160102
2     637539   593.79   10.9  -110.51  267  20160103
3     637539   593.79   10.9  -110.51  267  20160104
4     637539    593.8   10.9  -110.52  267  20160105
...      ...      ...    ...      ...  ...       ...
2843  637539  452.013  11.34    31.27  311  20240827
2844  637539  451.933  11.34    31.35  310  20240828
2845  637539  452.233  11.35    31.05  320  20240829
2846  637539  452.053  11.34    31.23  318  20240830
2847  637539  451.933  11.35    31.35  313  20240831

[2848 rows x 6 columns]

In [18]:
df.to_excel(f'담양금성 수위 {begindate} ~ {enddate}.xlsx')